
header{
    display: flex;
    flex: 0 0 auto;
    background-color: var(--header);
    opacity:1.9;
    backdrop-filter: blur(20px);
    color: var(--texto);
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0%;
    z-index: 1;
    box-shadow: 1px 1px 10px black;
}

#menu{
    display: flex;
    margin: 10px;
}
a{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--texto);
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.6s, color 0.5s;
}
a:hover{
    background-color: var(--destaque-inverso);
}

.menu-hambuguer{
    display: block;   
}