#ficha-blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px);
  padding: 140px;

  background-image: url("../../../../core/assets/imgs/blog-banner-wallpaper.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#ficha-blog #content-blog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  color: white;
  text-align: center;
  font-size: 17px;
}

#ficha-blog #content-blog img.foto {
  width: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid var(--fundo-card);
  outline: 5px solid var(--destaque);
  display: block;
  margin: auto;
  margin-bottom: 20px;
  transition: 0.4s;
}

#ficha-blog #content-blog img:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 20px black;
}

#ficha-blog #content-blog .text {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
  margin: 20px;
}

#ficha-blog #content-blog .text h1 {
  color: var(--destaque);
  margin: 15px;
  text-align: left;
}

#ficha-blog #content-blog .text p {
  line-height: 2em;
  font-size: 20px;
  color: white;
}

/* --- Agrupamento das Regras Mobile --- */
@media (max-width: 768px) {
  #ficha-blog #content-blog {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  #ficha-blog #content-blog img.foto {
    width: 150px;
    margin-bottom: 10px;
  }

  #ficha-blog #content-blog .text {
    width: 100%;
    margin: 10px 0;
    text-align: center;
  }

  #ficha-blog #content-blog .text h1 {
    font-size: 30px;
    text-align: center;
    margin: 10px 0;
  }

  #ficha-blog #content-blog .text p {
    line-height: 1.5em;
  }

  #ficha-blog #social {
    margin-top: 10px;
    font-size: 1.2em;
  }
}
